In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("sample_csv.csv")

In [11]:
#index ari df
print("Index : " , df.index)

Index :  RangeIndex(start=0, stop=101, step=1)

In [12]:
#column dari df
print("Columns : ", df.columns)

Columns :  Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price'],
      dtype='object')

In [13]:
#slice langsung berdasarkan column
df_slice = df.loc[(df["order_date"] == "2019-01-01") & (df["product_id"].isin(['P2154','P2556']))]
print("Slice langsung berdasarkan kolom:\n", df_slice)

Slice langsung berdasarkan kolom:
     order_id  order_date  customer_id             city     province  \
9    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
10   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta

   product_id    brand  quantity  item_price
9       P2556  BRAND_P         6     1045000
10      P2154  BRAND_M         4     1745000

In [14]:
#baca file sample_csv.csv
df2 = pd.read_csv("sample_csv.csv")
#set index dari df sesuai instruksi
df2 = df2.set_index(["order_date", "order_id", "product_id"])
#slice sesuai instruksi
df_slice2 = df2.loc[("2019-01-01", 1612339, ["P2154", "P2154"])]
print("Slice df:\n", df_slice2)

Slice df:
                                 customer_id             city     province  \
order_date order_id product_id
2019-01-01 1612339  P2154             18055  Jakarta Selatan  DKI Jakarta

                                  brand  quantity  item_price
order_date order_id product_id
2019-01-01 1612339  P2154       BRAND_M         4     1745000

In [15]:
#Tampilkan tipe data
print("Tipe data df:\n", df.dtypes)
#Ubah tipe data kolom order_date menjadi datetime
df["order_date"] = pd.to_datetime(df["order_date"])
#Tampilkan tipe data df setelah transformasi
print("nTipe data df setelah transformasi:\n", df.dtypes)

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object
nTipe data df setelah transformasi:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
product_id             object
brand                  object
quantity                int64
item_price              int64
dtype: object

In [16]:
#membuat data frame dengan multi-level column (stack)
dfc = pd.DataFrame({
    ('col1', 'subcol1'): [1,2,3],
    ('col1', 'subcol2'): [4,5,6],
    ('col2', 'subcol1'): [7,8,9],
    ('col2', 'subcol2'): [10,11,12]
})

#menampilkan data frame sebelum di-stack
print("Data frame sebelum di-stack:\n", dfc)

#melakukan stack pada column
df_stacked = dfc.stack()

#menampilkan data frame setelah di-stack
print("Data frame setela di-stack:\n", df_stacked)

Data frame sebelum di-stack:
      col1            col2
  subcol1 subcol2 subcol1 subcol2
0       1       4       7      10
1       2       5       8      11
2       3       6       9      12
Data frame setela di-stack:
            col1  col2
0 subcol1     1     7
  subcol2     4    10
1 subcol1     2     8
  subcol2     5    11
2 subcol1     3     9
  subcol2     6    12

In [19]:
#membuat data frame dengan multi-level index
dfi = pd.DataFrame({
    'col1': [1,2,3],
    'col2': [4,5,6]
})
dfi.set_index(['col1','col2'], inplace=True)

#menampilkan data frame sebelum di-unstack
print("Data frame sebelum di-unstack:\n", dfi)

#melakukan unstack pada index
df_unstacked = dfi.unstack()

#menampilkan data frame setelah di-unstack
print("Data frame setelah di-unstack:\n", df_unstacked)

Data frame sebelum di-unstack:
 Empty DataFrame
Columns: []
Index: [(1, 4), (2, 5), (3, 6)]
Data frame setelah di-unstack:
 Empty DataFrame
Columns: []
Index: [1, 2, 3]

In [23]:
#membuat data frame
dfm = pd.DataFrame({
    'col1': [1,2,None,4],
    'col2': [5,None,None,8],
    'col3': [None,10,11,12]
})


#menampilkan data frame sebelum dihapus
print("Data frame sebelum dihapus:\n", dfm)

# menghapus baris yang mengandung nilai kosong
dfm_cleaned = dfm.dropna()

# menampilkan data frame setelah dihapus
print("Data frame setelah dihapus:\n", dfm_cleaned)

Data frame sebelum dihapus:
    col1  col2  col3
0   1.0   5.0   NaN
1   2.0   NaN  10.0
2   NaN   NaN  11.0
3   4.0   8.0  12.0
Data frame setelah dihapus:
    col1  col2  col3
3   4.0   8.0  12.0

In [24]:
# menampilkan data frame sebelum diisi
print("Data freame sebelum diisi:\n", dfm)

# mengisi nilai kosong dengan nilai rata-rata kolom
dfm_filled = dfm.fillna(df.mean())

# menampilkan dataframe setelah diisi
print("Data frame setelah diisi:\n", dfm_filled)

Data freame sebelum diisi:
    col1  col2  col3
0   1.0   5.0   NaN
1   2.0   NaN  10.0
2   NaN   NaN  11.0
3   4.0   8.0  12.0

TypeError: Could not convert ['Jakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta SelatanJakarta UtaraJakarta UtaraJakarta UtaraJakarta UtaraJakarta UtaraJakarta UtaraJakarta UtaraBogorBogorBogorTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangTangerangJakarta PusatJakarta PusatJakarta PusatJakarta PusatJakarta PusatJakarta PusatJakarta PusatJakarta PusatJakarta PusatJakarta PusatJakarta PusatSurabayaMalangBogorBogorBogorBogorBogorBogorBogorBogorBogorBogorBogorBogorMakassarMakassarMakassarMakassarMakassarMakassar'
 'DKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaJawa BaratJawa BaratJawa BaratBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenBantenDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaDKI JakartaJawa TimurJawa TimurJawa BaratJawa BaratJawa BaratJawa BaratJawa BaratJawa BaratJawa BaratJawa BaratJawa BaratJawa BaratJawa BaratJawa BaratSulawesi SelatanSulawesi SelatanSulawesi SelatanSulawesi SelatanSulawesi SelatanSulawesi Selatan'
 'P0648P3826P1508P0520P1513P3911P1780P3132P1342P2556P2154P1685P3665P0219P1680P1679P2159P3837P2783P1255P1118P2660P1597P0968P4075P4057P4060P4009P1306P1305P1307P0708P0709P0704P3599P0327P1742P1741P0517P2707P2928P3362P2806P0525P3412P2946P2935P1813P0792P0491P1469P2866P2494P4059P2325P0255P4009P1685P1679P2964P0116P1800P1684P4025P3006P3132P0791P1945P1251P1683P0041P2760P1329P1700P2641P3484P3122P0040P0931P2575P0117P4009P0784P0449P2881P2594P1600P2086P2103P2089P0515P0535P0029P3362P3409P1867P3388P3082P3354P3357P0422'
 'BRAND_CBRAND_VBRAND_GBRAND_BBRAND_GBRAND_VBRAND_HBRAND_SBRAND_FBRAND_PBRAND_MBRAND_HBRAND_SBRAND_ABRAND_HBRAND_HBRAND_MBRAND_VBRAND_PBRAND_EBRAND_DBRAND_PBRAND_GBRAND_CBRAND_WBRAND_WBRAND_WBRAND_WBRAND_FBRAND_FBRAND_FBRAND_CBRAND_CBRAND_CBRAND_SBRAND_BBRAND_HBRAND_HBRAND_BBRAND_PBRAND_RBRAND_SBRAND_PBRAND_BBRAND_SBRAND_RBRAND_RBRAND_IBRAND_CBRAND_BBRAND_FBRAND_RBRAND_PBRAND_WBRAND_NBRAND_ABRAND_WBRAND_HBRAND_HBRAND_RBRAND_ABRAND_HBRAND_HBRAND_WBRAND_RBRAND_SBRAND_CBRAND_KBRAND_EBRAND_HBRAND_ABRAND_PBRAND_FBRAND_HBRAND_PBRAND_SBRAND_SBRAND_ABRAND_CBRAND_PBRAND_ABRAND_WBRAND_CBRAND_BBRAND_RBRAND_PBRAND_GBRAND_LBRAND_LBRAND_LBRAND_BBRAND_BBRAND_ABRAND_SBRAND_SBRAND_JBRAND_SBRAND_RBRAND_SBRAND_SBRAND_B'] to numeric