In [1]:
import pandas as pd

In [2]:
text = ['This is introduction to NLP',
       'It is likely to be useful, to people ',
       'Machine learning is the new electricity',
       'There would be less hype around AI nd more action going forward',
       'python is the best tool!']

In [3]:
df = pd.DataFrame({'data':text})
df

                                                data
0                        This is introduction to NLP
1              It is likely to be useful, to people
2            Machine learning is the new electricity
3  There would be less hype around AI nd more act...
4                           python is the best tool!

In [4]:
df['data'] = df['data'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [5]:
df['data']

0                          this is introduction to nlp
1                 it is likely to be useful, to people
2              machine learning is the new electricity
3    there would be less hype around ai nd more act...
4                             python is the best tool!
Name: data, dtype: object

In [6]:
pip install nltk

Requirement already satisfied: nltk in c:\users\arifs.desktop-eqjjn52\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\arifs.desktop-eqjjn52\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\arifs.desktop-eqjjn52\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\arifs.desktop-eqjjn52\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\arifs.desktop-eqjjn52\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\arifs.desktop-eqjjn52\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [47]:
import nltk
nltk.download('punkt')
import pandas as pd

[nltk_data] Downloading package punkt to C:\Users\arifs.DESKTOP-
[nltk_data]     EQJJN52\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [48]:
text = ['This is introduction to NLP',
       'It is likely to be useful, to people ',
       'Machine learning is the new electricity',
       'There would be less hype around AI nd more action going forward',
       'python is the best tool!']

In [49]:
df = pd.DataFrame({'data':text})
df

                                                data
0                        This is introduction to NLP
1              It is likely to be useful, to people
2            Machine learning is the new electricity
3  There would be less hype around AI nd more act...
4                           python is the best tool!

In [50]:
def proses(kalimat) :
    kalimat = kalimat.lower()
    kalimat = nltk.tokenize.word_tokenize(kalimat)
    return kalimat

In [51]:
hasil = df['data']
hasil = hasil.apply(proses)
hasil

0                    [this, is, introduction, to, nlp]
1      [it, is, likely, to, be, useful, ,, to, people]
2       [machine, learning, is, the, new, electricity]
3    [there, would, be, less, hype, around, ai, nd,...
4                     [python, is, the, best, tool, !]
Name: data, dtype: object

In [2]:
import pandas as pd
from string import punctuation
import nltk
# nltk.download('stopwords')

In [3]:
text = ['This is introduction to NLP',
       'It is likely to be useful, to people ',
       'Machine learning is the new electricity',
       'There would be less hype around AI nd more action going forward',
       'python is the best tool!']

In [4]:
df = pd.DataFrame({'data':text})
df

                                                data
0                        This is introduction to NLP
1              It is likely to be useful, to people
2            Machine learning is the new electricity
3  There would be less hype around AI nd more act...
4                           python is the best tool!

In [5]:
stopwords = set(nltk.corpus.stopwords.words('english'))
def proces(kalimat):
    kalimat = kalimat.lower()
    kalimat = nltk.tokenize.word_tokenize(kalimat)
    kalimat = [kata for kata in kalimat if kata not in stopwords]
    return kalimat

In [6]:
hasil = df['data']
hasil = hasil.apply(proces)
hasil

0                                  [introduction, nlp]
1                          [likely, useful, ,, people]
2                [machine, learning, new, electricity]
3    [would, less, hype, around, ai, nd, action, go...
4                              [python, best, tool, !]
Name: data, dtype: object